<!DOCTYPE html>
{% load static %}
<html len="en">
    <head>
           <title>SunnySide</title>

           <script>
            function toggleMenu() {
                document.querySelector('.nav-links').classList.toggle('show');
            }
           </script>

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />

        

           <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />

           <script>
            function toggleMenu() {
                document.querySelector('.nav-links').classList.toggle('show');
            }
        </script>

           <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->

           <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">


     </head>
     <body>
        <!-- Header -->
    <div class="header">
        <div class="logo">LOGO</div>
       
            <div class="nav-icons">
           
                <a href="https://t.me/conceptians_library" target="_blank" class="social-icon">
                    <img src="{% static 'images/telegram.svg' %}" alt="Telegram">
                </a>
                <a href="https://www.youtube.com/" target="_blank" class="social-icon">
                    <img src="{% static 'images/Platform=Facebook, Color=Original.svg' %}" alt="Facebook">
                </a>
    
                
            </div>
        
    </div>

    
    <div class="container">
        
        <div class="country-section">
            <h1>Country</h1>
            <div class="tabs">
                <div class="tab tab-minimum">MINIMUM REQUIREMENTS</div>
                <div class="tab tab-stats">TOP UNIVERSITIES STATS</div>
            </div>
            <div class="content-box"></div>
        </div>

        
        <div class="universities-section">
            <h2>Popular Universities</h2>
            <div class="universities-box"></div>
        </div>
    </div>

   
    <div class="footer">
       wooo
    </div>

    
     </body>
</html>